@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import "variables";
@import "responsive";
@import "index";
@import "contacto";
*{
    padding: 0;
    margin: 0;
}
html{
    font-size: 62.5%;
}
/* css bootstrap */
/* inicio sesión */
.iniciarSesion{
    background-color: white;
}
.alineacionDerecha{
    text-align: right;
}
/* css generales, top bar y footer*/
.botonesNavegacion{
    padding: 2rem;
    background-color: white;
    text-align: center;
    word-spacing: 1rem;
    justify-items: center;
    grid-area: nav;
}
li{
    display: inline-block;
    padding-right: 1.5rem;
}
a{
    text-decoration: none;
    color: $colorFont;
    transition: all 0s;
}
a:hover{
    font-size: 2rem;
}
a:focus{
    font-size: 1rem (1s);
}
.topbarIconos{
    grid-area: topbarIconos;
    text-align: center;
    justify-items: center;
}
.hotSale{
    padding: 0.5rem;
    background-color: black;
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    text-align: center;
    grid-area: hotSale;
    transition: color 0.4s;
}
.hotSale:hover{
    color: $colorFont;
}
.topbarImagen{
    padding: 0.5rem;
    height: 2rem;
    width: 2rem;
    margin-top: 1.2rem;
}
.submenuInicio{
    grid-area: submenuInicio;
    text-align: right;
}
.topbar{
    padding: 0.5rem;
    font-size: 1.3rem;
    color: $colorFont;
    grid-area: topbar;
    display: grid;
    grid-template-areas: "logoVivero submenuInicio submenuInicio"
    "logoVivero nav topbarIconos";
    grid-template-columns: 16% 62% 22%;
}
.logoVivero{
    grid-area: logoVivero;
}
.logoViveroImagen{
    height: 7rem;
    width: 7rem;
}
/* Footer */
.footerIconos{
    grid-area: footerIconos;
}
.footerHorarios{
    font-size: 1rem;
    grid-area: footerHorarios;
}
.footerIconosImagen{
    height: 2rem;
    width: 2rem;
}
.footerTitulo{
    padding: 1rem;
    border: 1rem;
    color: $colorFont;
}
/* css de imagenes, titulosh1 y flex */
.tituloNuestrosProductos{
    padding: 2rem;
    color: $colorFont;
    font-size: 4rem;
    grid-area: titulo;
}
/* css de productos */
.seccionesProducto{     
    display: flex;
    /* probablemente cambie a grid cuando ponga el submenu */
    flex-direction: column;
    margin-left: 50rem;
}
.imagenInterior{
    width: 82rem;
    height: 68rem;
}
/* css de acuario */
.formPecera{
    padding: 2rem;
    border-left: 4rem;
    font-size: 1.6rem;
}
.formItem{
    padding: 1.5rem;
    color: $colorFont;
}
.seccionesAcuario{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70rem;
}
/* Macetas */
.fibrocemento{
    grid-area: fibrocemento;
}
.macetasPlasticas{
    grid-area: macetasPlasticas;
}